body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(66, 152, 191, 1);
    color: #fff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-derecha {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    padding-left: 12px;
}

main {
    padding-bottom: 20px;
}

.logo {
    height: 68px;
}

section {
    margin-bottom: 20px;
}

.main-editar {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.citas {
    padding: 0px 50px;
}

.busqueda-citas {
    display: flex;
    flex-direction: row;
}

.busqueda-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.lista-citas,
.lista-historial-medico,
.lista-historiales-medicos {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.lista-citas th,
.lista-citas td,
.lista-historial-medico th,
.lista-historial-medico td,
.lista-historiales-medicos th,
.lista-historiales-medicos td {
    padding: 10px;
    text-align: center;
}

.lista-citas th,
.lista-historial-medico th,
.lista-historiales-medicos th {
    background-color: rgba(66, 152, 191, 1);
    color: white;
}

.paginacion {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.paginacion-anterior,
.paginacion-primera,
.paginacion-siguiente,
.paginacion-ultima,
.paginacion-actual {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #ddd;
}

.paginacion-anterior:hover,
.paginacion-primera:hover,
.paginacion-siguiente:hover,
.paginacion-ultima:hover {
    background-color: lightgray;
}

.paginacion-actual {
    background-color: rgba(66, 152, 191, 1);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.observaciones-editar,
.observaciones-orden-medica {
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.botones-editar {
    text-align: center;
}

.boton {
    background-color: rgba(66, 152, 191, 1);
    ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.boton:hover {
    background-color: #ccc;
}

.nueva-orden-medica {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-group2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.form-group3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    font-weight: bold;
}

input[type="submit"],
input[type="reset"] {
    background-color: rgba(66, 152, 191, 1);
    color: white;
    cursor: pointer;
}

#medicamento {
    padding: 7px;
    border-radius: 7px;
}

#numero-dosis {
    width: 200px;
    border-radius: 7px;
    border: 1px solid;
}

.inicio-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    padding: 10px 100px;
    border-radius: 5px;
}

.link-boton {
    text-decoration: none;
    color: #fff;
}

.link-lista {
    text-decoration: none;
    color: rgba(66, 152, 191, 1);
}

.login-boton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(66, 152, 191, 1);
}

.link-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.link-lista.disabled {
    pointer-events: none;
    color: #808080;
    cursor: not-allowed;
}

Link {
    text-decoration: none;
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.historiales-medicos {
    padding: 0px 24px;
}

.countdown-timer {
    font-size: 50px;
    color: #ffffff;
    background-color: rgba(66, 152, 191, 1);
    padding: 8px;
    border-radius: 4px;
    margin-top: 4px;
}

.countdown-button {
    padding: 8px;
    background-color: #a72828;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.countdown-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

footer {
    width: 100%;
    height: 81px;
    position: fixed;
    bottom: 0;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}